@import url('https://fonts.googleapis.com/css2?family=Alice&family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-family: 'Alice';
  font-weight: normal;
}

header {
  margin-bottom: 5rem;
}

nav {
  z-index: 1;
  top: 0;
  padding-top: 5px;
  position: fixed;
  width: 100%;
  display: flex;
  background-color: #f9f7f2;
  opacity: 0.9;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 150px;
}

.leftBar {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.rightBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1rem;
}

nav a {
  font-family: 'Alice', sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  color: black;
}

nav li {
  padding: 0 8px;
  padding-bottom: 10px;
  display: inline;
  list-style-type: none;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f7f2;
  min-width: 150px;
  /* min-height: 100px; */
  padding-top: 1.5rem;
}

.dropdown-content a {
  /* height: 100px; */
  /* padding: 50px 16px; */
  padding: 1rem 10px;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

li a:hover {
  animation: fadeIn 1s;
  text-decoration: underline;
}

@keyframes fadeIn {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

main {
  display: flex;
  flex-direction: column;
}

.page-title {
  margin: 3rem 0;
}

.p-primary,
.p-secondary {
  font-family: 'Montserrat';
}

.p-primary {
  font-size: medium;
}

.p-secondary {
  font-size: small;
  color: gray;
}

footer {
  margin: 3rem 0 2rem;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  color: #7e7e7e;
  font-family: 'Roboto';
  text-align: center;
  font-weight: bold;
}

footer .leftBar {
  flex-direction: column;
  max-width: 500px;
  text-align: left;
  align-items: flex-start;
}

#footerMainLogo {
  width: 250px;
}

.footerLogo {
  margin: 0 2rem;
  opacity: 0.5;
  width: 36px;
  height: 36px;
}
