@import url('https://fonts.googleapis.com/css2?family=Alice&family=Roboto:wght@300;400&display=swap');

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Alice';
}

header {
  margin-bottom: 5rem;
}

nav {
  z-index: 1;
  top: 0;
  padding-top: 5px;
  position: fixed;
  width: 100%;
  display: flex;
  background-color: #f9f7f2;
  opacity: 0.9;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 150px;
}

.leftBar {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.rightBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1rem;
}

nav a {
  font-family: 'Alice', sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  color: black;
}

nav li {
  padding: 0 8px;
  padding-bottom: 10px;
  display: inline;
  list-style-type: none;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f7f2;
  min-width: 150px;
  /* min-height: 100px; */
  padding-top: 1.5rem;
}

.dropdown-content a {
  /* height: 100px; */
  /* padding: 50px 16px; */
  padding: 1rem 10px;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

li a:hover {
  animation: fadeIn 1s;
  text-decoration: underline;
}

@keyframes fadeIn {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

main {
  display: flex;
  flex-direction: column;
}

/* CAROUSEL */
/* ==================================== */

/* ==================================== */

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 3rem 2rem;
  gap: 3rem;
}

.product-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  gap: 4rem;
  /* grid-column: auto; */
}

.product-item {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  width: 250px;
  height: 250px;
}

.product-item img {
  width: inherit;
}

.options-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.option-item {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(211, 211, 211);
  background-color: #f9f7f2;
  color: #d8ae67;
}

.options-container-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto;
  gap: 2rem;
}

.options-container-grid .option-item {
  max-width: 200px;
}

.option-item img {
}

.description-container {
  display: none;
  flex-direction: column;
  animation: fadeIn 2s;
  gap: 2rem;
}

.description-container button {
  border: none;
  color: #7e7e7e;
  padding: 15px 50px;
}

/* temporary image box */

.image-box {
  width: 300px;
  min-width: 300px;
  height: 300px;
  background-color: aqua;
}

.image-description-container {
  display: flex;
  gap: 2rem;
  text-align: justify;
}

.description-item-container {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

footer {
  margin: 3rem 0 2rem;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  color: #7e7e7e;
  font-family: 'Roboto';
  text-align: center;
  font-weight: bold;
}

footer .leftBar {
  flex-direction: column;
  max-width: 500px;
  text-align: left;
  align-items: flex-start;
}

#footerMainLogo {
  width: 250px;
}

.footerLogo {
  margin: 0 2rem;
  opacity: 0.5;
  width: 36px;
  height: 36px;
}

@media screen and (max-width: 600px) {
  .options-container-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 2rem;
  }

  .options-container-grid .option-item {
    max-width: 200px;
  }
}

@media screen and (max-width: 375px) {
}
