.options-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.option-item {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(211, 211, 211);
  background-color: #f9f7f2;
  color: #d8ae67;
}

.options-container-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto;
  gap: 2rem;
}

.options-container-grid .option-item {
  max-width: 200px;
}

.option-item img {
}

.description-container {
  display: none;
  flex-direction: column;
  animation: fadeIn 2s;
  gap: 2rem;
}

.description-container button {
  border: none;
  color: #7e7e7e;
  padding: 15px 50px;
}

/* temporary image box */

.image-box {
  width: 300px;
  min-width: 300px;
  height: 300px;
  background-color: aqua;
}

.image-description-container {
  display: flex;
  gap: 2rem;
  text-align: justify;
}

.description-item-container {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}
